---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Differences from "../components/Differences.astro";
import Reviews from "../components/Reviews.astro";
import Destination from "../components/Destinations.astro";
import Book from "../components/Book.astro";
import Footer from "../components/Footer.astro";
import FAQ from "../components/FAQ.astro";
---

<Layout
  title="KFC Turismo"
  description="KFC Turismo é uma empresa que oferece Transfer e Passeios em Porto Seguro, Arraial d'Ajuda, Trancoso e Caraíva"
>
  <Header title="KFC Turismo" />
  <main class="px-8 py-12">
    <Hero />
    <Differences />
    <Reviews />
    <Destination />
    <Book />
    <FAQ />
  </main>
  <Footer />
</Layout>
