---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Differences from '../components/Differences.astro';
import Reviews from '../components/Reviews.astro'; 
import Destination from '../components/Destinations.astro'

---

<Layout 
title="KFC Turismo"
description="KFC Turismo é uma empresa que oferece Transfer e Passeios em Porto Seguro, Arraial d'Ajuda, Trancoso e Caraíva"
>
<Header 
title="KFC Turismo"
/>
<main class="p-8">
<Hero />
<Differences />
<Reviews />
<!-- <Destination /> -->
</main>
		
</Layout>

