---
---
<section class="w-full py-16 md:py-24 lg:py-32 max-w-6xl m-auto">
  <div class="container space-y-12 px-4 md:px-6">
    <div class="flex flex-col items-center justify-center space-y-4 text-center">
      <div class="space-y-2">
        <div class="inline-block rounded-lg bg-gray-200 px-3 py-1 text-sm">Atendimento</div>
        <h2 class="text-3xl font-bold tracking-tighter sm:text-5xl">Região de Atendimento</h2>
        <p class="max-w-[900px] text-muted-foreground md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed">
          Nosso serviço de transfer cobre Porto Seguro e região.
        </p>
        </p>
      </div>
    </div>
    <div class="mx-auto grid items-start justify-center gap-8 sm:max-w-4xl sm:grid-cols-2 md:gap-12 lg:max-w-5xl lg:grid-cols-3">
      <div class="grid gap-1">
        <img
          src="/Porto-Seguro.webp"
          width="400"
          height="300"
          alt="Destination 1"
          class="rounded-lg object-cover aspect-[4/3]"
        />
        <h3 class="text-xl py-2 font-bold">Porto Seguro</h3>
      </div>
      <div class="grid gap-1">
        <img
          src="https://i.imgur.com/qrYDY3i.png"
          width="400"
          height="300"
          alt="Destination 1"
          class="rounded-lg object-cover aspect-[4/3]"
        />
        <h3 class="text-xl py-2 font-bold">Club Med Trancoso</h3>
      </div>
      <div class="grid gap-1">
        <img
          src="/Arraial-d_Ajuda.webp"
          width="400"
          height="300"
          alt="Destination 2"
          class="rounded-lg object-cover aspect-[4/3]"
        />
        <h3 class="text-xl py-2 font-bold">Arraial d'Ajuda</h3>
      </div>
      <div class="grid gap-1">
        <img
          src="/Trancoso.webp"
          width="400"
          height="300"
          alt="Destination 3"
          class="rounded-lg object-cover aspect-[4/3]"
        />
        <h3 class="text-xl py-2 font-bold">Trancoso</h3>
      </div>
      <div class="grid gap-1">
        <img
          src="/Caraíva.webp"
          width="400"
          height="300"
          alt="Destination 3"
          class="rounded-lg object-cover aspect-[4/3]"
        />
        <h3 class="text-xl py-2 font-bold">Caraíva</h3>
      </div>
      <div class="grid gap-1">
        <img
          src="https://i.imgur.com/DRCNr9E.png"
          width="400"
          height="300"
          alt="Destination 3"
          class="rounded-lg object-cover aspect-[4/3]"
        />
        <h3 class="text-xl py-2 font-bold">Aeroporto de Porto Seguro</h3>
      </div>
    </div>
  </div>
</section>