---
---
<section class="w-full py-20 md:py-24 lg:py-32 text-center lg:flex-row max-w-6xl m-auto">
  <div class="container px-4 md:px-6">
    <div class="flex flex-col items-center justify-center space-y-4 text-center">
      <div class="space-y-2">
        <div class="inline-block rounded-lg bg-gray-200 px-3 py-1 text-sm">Nossos Diferenciais</div>
        <h2 class="text-3xl font-bold tracking-tighter sm:text-5xl">
          Pontualidade e Conforto
        </h2>
        <p class="max-w-[900px] text-muted-foreground md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed">
          Nosso serviço de transfer oferece uma variedade de recursos para garantir uma experiência confortável e confiável.
        </p>
        </p>
      </div>
    </div>
    <div class="mx-auto grid max-w-5xl items-center gap-6 py-12 lg:grid-cols-3 lg:gap-12">
      <div class="flex flex-col items-center justify-center space-y-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clock-hour-4" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ff2825" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
          <path d="M12 12l3 2" />
          <path d="M12 7v5" />
        </svg>
        <h3 class="text-xl font-bold">Disponibilidade 24/7</h3>
        <p class="text-muted-foreground">
          Nossa equipe está disponível 24 horas por dia, 7 dias por semana para te atender, idependente do horário do seu voo check-in, check-out ou passeio.
        </p>
      </div>
      <div class="flex flex-col items-center justify-center space-y-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ff2825" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
          <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
        </svg>
        <h3 class="text-xl font-bold">Motoristas Profissionais</h3>
        <p class="text-muted-foreground">
          Nossos motoristas são altamente treinados e experientes, garantindo uma experência segura e confortável.
        </p>
        </p>
      </div>
      <div class="flex flex-col items-center justify-center space-y-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-car" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ff2825" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M7 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
          <path d="M17 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
          <path d="M5 17h-2v-6l2 -5h9l4 5h1a2 2 0 0 1 2 2v4h-2m-4 0h-6m-6 -6h15m-6 0v-5" />
        </svg>
        <h3 class="text-xl font-bold">Veículos Confortáveis</h3>
        <p class="text-muted-foreground">
          Nossa frota de veículos é bem mantida e equipada com todas as comodidades que você precisa.
        </p>
        </p>
      </div>
    </div>
  </div>
</section>