---
import Accordion from "./ui/accordion.astro"
---
<section class="w-full py-20 md:py-24 lg:py-32 text-center max-w-3xl m-auto flex flex-col gap-4">
  <div class="pb-8">
    <h2 class="text-3xl font-bold tracking-tighter sm:text-5xl">Perguntas Frequentes</h2>
  </div>
<Accordion 
title="Por que contratar um Transfer de forma atencipada?"
details="Garantia de que você será atendido com horário agendado, tranquilidade, atendimento exclusivo e um melhor valor."
/>
<Accordion 
title="Em Porto Seguro não tem Uber, 99 ou outro aplicativo de transporte?"
details="Tem sim, porém com cobertura limitada e vários cancelamentos até conseguir uma corrida. Os aplicativos de corrida funcionam somente no Centro e Orla norte de Porto Seguro, para outros destinos como Arraial d’Ajuda, Club Med, Trancoso e Caraíva, o ideal é contratar um Transfer."
/>
<Accordion 
title="Vocês buscam no Hotel ou no Aeroporto pela madrugada?"
details="Com certeza. O Transfer é a mesma coisa que uma corrida agendada, o diferencial da LF Transfer é que cumprimos o horário e os valores já combinados, sem pegadinha no momento do Transfer."
/>
<Accordion 
title="Como faço para contratar o Transfer?"
details="Entre em contato através do nosso WhatsApp: (73) 99806-8300, informe a data, horário e quantidade de pessoas, local de embarque e destino, em seguida enviaremos uma cotação."
/>
</section>