---

---

<footer
  class="flex flex-col gap-2 sm:flex-row py-6 w-full shrink-0 items-center px-4 md:px-6 border-t"
>
  <p class="text-xs text-muted-foreground">
    &copy; 2025 LF Transfer em parceria com a KFC Turismo. Porto Seguro | Bahia | Brasil.
  </p>
  <nav class="sm:ml-auto flex gap-4 sm:gap-6">
    <a href="https://www.instagram.com/kfcturismo_" class="text-xs hover:underline underline-offset-4" target="_blank">
      Instagram
    </a>
    <a href="https://api.whatsapp.com/send?phone=5573998068300&text=Ol%C3%A1%20vim%20pelo%20site,%20gostaria%20de%20efetuar%20uma%20reserva%20de%20transfer"
    class="text-xs hover:underline underline-offset-4" target="_blank"> WhatsApp </a>
  </nav>
</footer>
