---

---

<header class="py-4 px-8 border-b">
  <div class="flex justify-between items-center lg:max-w-7xl m-auto">
  <a href="/" class="hover:-rotate-12 flex gap-2 justify-center items-center">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="icon icon-tabler icon-tabler-car"
      width="44"
      height="44"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="#171717"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M7 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
      <path d="M17 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
      <path
        d="M5 17h-2v-6l2 -5h9l4 5h1a2 2 0 0 1 2 2v4h-2m-4 0h-6m-6 -6h15m-6 0v-5"
      ></path>
    </svg>
  </a>
  <a href="/" class="text-2xl font-bold text-[#171717] md:pl-16">LF Transfer</a>
  <nav class="flex gap-4">
    <a href="/" class="hover:underline underline-offset-4 hidden md:block">Diferenciais</a>
    <a href="/about" class="hover:underline underline-offset-4 hidden md:block">Avaliações</a>
    <a
      href="https://api.whatsapp.com/send?phone=5573998068300&text=Ol%C3%A1%20vim%20pelo%20site,%20gostaria%20de%20efetuar%20uma%20reserva%20de%20transfer"
      class="text-green-500 font-bold hover:underline underline-offset-4"
      target="_blank"
      >Contato</a
    >
  </nav>
</div>
</header>
