---
---
<section class="flex flex-col gap-12 lg:flex-row max-w-6xl m-auto lg:pt-28">
  <img src="https://i.imgur.com/pLmaXmI.jpeg" alt="" width="650" height="450" 
  class="mx-auto aspect-video overflow-hidden rounded-xl object-cover sm:w-full lg:order-last" 
  id="carousel-image" loading="lazy">
  <div class="flex flex-col gap-3">
    <h1 class="text-4xl font-bold tracking-tighter sm:text-5xl xl:text-6xl/none pb-4">
      Tenha um veículo exclusivo à sua espera!
    </h1>
    <p class="max-w-[600px] text-muted-foreground md:text-xl pb-4">
      Conectamos você ao seu destino com Transfer Privado para Caraíva, Trancoso, Club Med, Arraial D'Ajuda entre outros locais.
    </p>
    <a href="https://api.whatsapp.com/send?phone=5573998068300&text=Ol%C3%A1%20vim%20pelo%20site,%20gostaria%20de%20efetuar%20uma%20reserva%20de%20transfer" target="_blank" class="bg-green-500 hover:bg-green-600 transition-colors p-4 rounded-lg text-white text-[18px] font-bold flex items-center justify-center gap-2 lg:max-w-60">
    Entrar em contato
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-whatsapp" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
    <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" />
    <path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1" />
  </svg>
</a>
</div>
</section>
