---

---

<section
  class="w-full py-12 md:py-24 lg:py-32 bg-[#f4f4f5] rounded-md lg:flex-row max-w-6xl m-auto" id="avaliacoes"
>
  <div
    class="container grid items-center justify-center gap-4 px-4 text-center md:px-6"
  >
    <div class="space-y-3">
      <h2 class="text-3xl font-bold tracking-tighter md:text-4xl/tight">
        O que nossos clientes dizem
      </h2>
      <p
        class="mx-auto max-w-[600px] md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed"
      >
        Veja nossos clientes satisfeitos sobre sua experiência com os nossos
        serviços.
      </p>
    </div>
    <div class="gap-6 flex pt-8 flex-wrap justify-center">
      <div class="flex flex-col gap-4 max-w-[360px]">
        <div class="flex items-center gap-4 justify-center">
          <div>
            <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1a/f6/ee/db/default-avatar-2020-10.jpg?w=100&h=-1&s=1" class="rounded-full w-12"/>
          </div>
          <div>
            <h4 class="text-lg font-medium">Lavinia F.</h4>
          </div>
        </div>
        <p class="">
          "Empresa maravilhosa! Pessoas super atenciosas e educadas. Certeza que farei vários outros passeios com eles! Obrigada LF Transfer, por fazer a minha viagem ser tão incrível!"
        </p>
      </div>
      <div class="flex flex-col gap-4 max-w-[360px]">
        <div class="flex items-center gap-2 justify-center">
          <div>
            <img src="https://i.imgur.com/JcXCEPc.jpeg" class="rounded-full w-12"/>
          </div>
          <div>
            <h4 class="text-lg font-medium">Veridiane M.</h4>
          </div>
        </div>
        <p class="">
          "O serviço de transfer da empresa foi fantástico. O motorista foi
          profissional e o veículo era confortável. Eu recomendaria
          para qualquer pessoa visitando a região."
        </p>
      </div>
    </div>
  </div>
</section>
