---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:title" content="LF Transfer, tenha um carro exclusivo a sua espera." />
		<meta
		property="og:description"
		content="Transfer privativo para os principais destinos de Porto Seguro: Trancoso, Arraial d'Ajuda, Club Med, Caraíva, entre outros destinos."
	/>
	<meta property="og:image" content="https://i.imgur.com/V19cWKl.jpeg" />
	<meta property="og:url" content="https://lftransfer.com.br/" />		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

